header{
  background-color: black;
  color: white;
  display: flex;
  padding: 0 2%;
  justify-content: space-between;
}
#logo{
width: 200px;
padding-top: 5%;
}
#tagline{
  color:cornflowerblue;
  padding-top: 1%;
}
nav{
background-color: black;
display: flex;
justify-content: space-between;
padding: 0 25%;
padding-bottom: 2%;
}
div{
    font-style: italic;
}
#end{
    text-align: center;
}

#img{
    width: 200px;
    padding-left: 43%;
  }